.main-container{
  height: 1000px;
  font-size: 23px;
  font-family: arial;
  background-color: cornflowerblue;
  margin-top: 50px;
  text-align: center;

}

p{
  font-size: 23px;
  font-family: arial;
  padding-left: 20px;
  padding-right: 20px;
}

h1{
  padding-top:500px;
}
